/*[ FONT ]*/
@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Vazir-Regular;
  src: url('../fonts/vazir/Vazir.ttf');
}

@font-face {
  font-family: Vazir-Light;
  src: url('../fonts/vazir/Vazir-Light.ttf');
}

@font-face {
  font-family: Vazir-Thin;
  src: url('../fonts/vazir/Vazir-Thin.ttf');
}

@font-face {
  font-family: Vazir-Medium;
  src: url('../fonts/vazir/Vazir-Medium.ttf');
}

@font-face {
  font-family: Vazir-Bold;
  src: url('../fonts/vazir/Vazir-Bold.ttf');
}

/*[ RESTYLE TAG ]*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Vazir-Regular, sans-serif;
  background:
    linear-gradient(90deg, #f2f2f2 20px, transparent 1%) center,
    linear-gradient(#f2f2f2 20px, transparent 1%) center, #ccc;
  background-size: 22px 22px;
}

/*---------------------------------------------*/
a {
  font-family: Vazir-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  display: inline-block;
  direction: rtl;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #6675df;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

p {
  font-family: Vazir-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}

textarea::-webkit-input-placeholder { color: #999999;}
textarea:-moz-placeholder { color: #999999;}
textarea::-moz-placeholder { color: #999999;}
textarea:-ms-input-placeholder { color: #999999;}

label {
  display: block;
  margin: 0;
  text-align: right;
  direction: rtl;
}

span {
  text-align: right;
  direction: rtl;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*[ Text ]*/
.txt1 {
  font-family: Vazir-Regular;
  font-size: 11px;
  line-height: 1.4;
  color: #555555;
}

.txt2 {
  font-family: Vazir-Regular;
  font-size: 11px;
  line-height: 1.4;
  color: #999999;
}

/*[ Size ]*/
.size1 {
  width: 355px;
  max-width: 100%;
}

.size2 {
  width: calc(100% - 43px);
}

/*[ Background ]*/
.bg1 {background: #3b5998;}
.bg2 {background: #1da1f2;}
.bg3 {background: #cd201f;}

/*[ login & profile ]*/
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wrap-login100 {
  width: 400px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.wrap-profile100 {
  width: 500px;
}

/*[ Form ]*/
.login100-form {
  width: 560px;
  display: block;
  padding: 50px;
}

.login100-form-title {
  width: 100%;
  display: block;
  font-family: Vazir-Regular;
  font-size: 25px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

/*[ Input ]*/
.wrap-input100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
  height: 70px;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 10px;
}

.label-input100 {
  font-family: Vazir-Regular;
  font-size: 13px;
  color: #999999;
  line-height: 1.2;

  display: block;
  position: absolute;
  pointer-events: none;
  width: 100%;
  padding-right: 24px;
  right: 0;
  top: 28px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Regular, Vazir-Regular;
  font-size: 16px;
  color: #555555;
  line-height: 1.2;
  padding: 0 26px;
}

input.input100 {
  height: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #6675df;
  border-radius: 10px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.input100:focus {
  height: 48px;
}

.input100:focus + .focus-input100 + .label-input100 {
  top: 14px;
  font-size: 13px;
}

.has-val {
  height: 45px !important;
}

.has-val + .focus-input100 + .label-input100 {
  top: 12px;
  font-size: 11px;
}

/*[ Restyle Checkbox ]*/
.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Vazir-Regular;
  font-size: 11px;
  color: #999999;
  line-height: 1.4;

  display: block;
  position: relative;
  padding-right: 22px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 11px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #6675df;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #6675df;
}

/* [ Restyle Select ] */
.input-selectbox100 {
  border: none;
  background-color: #fff;
  width: 100%;
  height: 80px;
  border-radius: 10px;
}

.input-selectbox100::after {
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #6675df;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: #6675df;

  font-family: Vazir-Regular;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}

/*[ Responsive ]*/
@media (max-width: 1024px) {
  .login100-form {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 576px) {
  .login100-form {
    padding-left: 15px;
    padding-right: 15px;
  }

  .wrap-login100 {
    width: 350px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media (max-width: 375px) {
  .login100-form {
    padding-left: 15px;
    padding-right: 15px;
  }

  .wrap-login100 {
    width: 310px;
  }
}

/*[ Alert validate ]*/
.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  z-index: 100;
  max-width: 70%;
  background-color: #fff;
  padding: 4px 10px 4px 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 12px;
  pointer-events: none;

  font-family: Vazir-Regular;
  color: #c80000;
  font-size: 11px;
  line-height: 1.4;
  text-align: right;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  z-index: 110;
  color: #c80000;
  font-size: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*-------------------------------------------------*/

.drop-box{
    border: 2px dashed #ddd;
    text-align: center;
    line-height: 155px;
    position: relative;
    width: 159px;
    margin: 0 auto;
    border-radius: 10px;
}

figure{
    overflow: hidden;
    border-radius: 10px;
}

.file-view{
    max-height: 150px;
    min-height: 150px;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    display: inherit;
    border: 5px solid white;
    border-radius: 10px;
}

.button {
    display: inline-block;
    height: auto;
    color: #999;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.profile-nav {
  width: 100%;
  margin: 15px;
}

.separator {
  border-right: 2px solid #ddd;
}

.nav-left {
  display: inline-block;
  cursor: pointer;
  font-size: 11px;
  color: #666666;
}

.nav-right {
  float: right !important;
  font-size: 11px;
  color: #666666;
}

.nav-logo {
  width: 24px;
}

.avatar-frame {
  display: none;
  border: 1px solid #eee;
  border-radius: 10px;
  width: 109px;
  margin: 0 auto;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}

.remove-avatar {
    display: none;
    background-color: black;
    border-radius: 10px;
    opacity: 0.2;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.remove-btn {
    top: 38%;
    right: 41%;
    position: absolute;
    color: #fff;
    opacity: 1;
}

.card {
  /*display: none;*/
  position: relative;
  margin: 0.5rem 0 1rem 0;
  transition: box-shadow .25s;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
}

.card-content p {
  color: #fff !important;
  direction: rtl;
  text-align: center;
}

.green {
  background-color: #4CAF50 !important;
}

.red {
  background-color: #F44336 !important;
}