{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
    <div class="container-login100" ng-controller="passwordResetCtrl" ng-init="init()">
        <div class="wrap-login100">
            <form class="login100-form validate-form" ng-submit="passwordReset(credentials)">
                {% csrf_token %}

                <span class="login100-form-title p-b-33">Reset Password</span>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required.">
                    <input class="input100" type="text" name="email" dir="auto" autofocus="true" autocomplete="off"
                           spellcheck="false" ng-model="credentials.email">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Email</span>
                </div>

                <div class="container-login100-form-btn m-t-32">
                    <button class="login100-form-btn">Reset</button>
                </div>

                <div class="text-center p-t-45">
                    <span class="txt2">If don't have an account</span>

                    <a href="{% url 'accounts:signup' %}" class="txt1 hov1">Create New</a>

                    <span class="txt2">else</span>

                    <a href="{% url 'accounts:signin' %}" class="txt1 hov1">Sign In</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
