{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
    <div class="container-login100" ng-controller="signinCtrl" ng-init="init()">
        <div class="wrap-login100">
            <div class="nav-center p-t-20">
                <img class="nav-logo"
                     src="{% static '/accounts/images/icons/logo.svg' %}"/>
            </div>

            <span class="login100-form-title p-t-30">ورود به پروفایل</span>

            <form class="login100-form validate-form" ng-submit="signin(credentials)">
                {% csrf_token %}

                <div class="wrap-input100 validate-input" data-validate="ایمیل صحیح نیست: ex@abc.xyz">
                    <input class="input100" type="text" name="email" dir="auto" autofocus="true" autocomplete="off"
                           spellcheck="false" ng-model="credentials.email">
                    <span class="focus-input100"></span>
                    <span class="label-input100">ایمیل</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="گذرواژه وارد نشده است.">
                    <input class="input100" type="password" name="password" ng-model="credentials.password">
                    <span class="focus-input100"></span>
                    <span class="label-input100">گذرواژه</span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-32">
                    <div>
                        <a href="{% url 'accounts:password_reset' %}" class="txt1">بازیابی گذرواژه</a>
                    </div>

                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" ng-model="rememberMe">
                        <label class="label-checkbox100" for="ckb1">مرا به خاطرت نگه‌دار</label>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">ورود</button>
                </div>

                <div class="text-center p-t-46 p-b-20">
                    <a href="{% url 'accounts:signup' %}" class="txt1 hov1">پروفایل خودت رو بساز!</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
